---
import Bubbles from '../components/Bubbles.astro';
import CocaLata from '../components/CocaLata.astro';
import Cocas from '../components/Cocas.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Coca-Cola México: Refrescando al mundo entero">
	<header class="flex flex-row w-full z-10 py-4 px-6">

		<img src="/logo.svg" alt="Coca-Cola México" />
		<nav class="ml-auto bg-transparent">
			<ul class="flex flex-row">
				<li class="px-4"><a href="/">Inicio</a></li>
				<li class="px-4"><a href="/nosotros">Nosotros</a></li>
				<li class="px-4"><a href="/productos">Productos</a></li>
				<li class="px-4"><a href="/contacto">Contacto</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section id="hero" class="z-0">
			<h1 class="text-4xl">¡Refrescando al mundo entero!</h1>
			<div class="lata-container">

				<CocaLata />
			</div>
			<Bubbles />
		</section>
		<Cocas />
		<section id="prods" class="text-center pt-10">
			<h2 class="text-3xl text-bold mb-4" >¡Conoce nuestros productos!</h2>
			<p class="text-2xl mb-6">¡Conoce la variedad de productos que tenemos para ti!</p>
			<section id="cards" class="px-20 py-20 flex flex-row gap-40 justify-around">
				<div class="max-w-[200px] max-h-[200px] flex justify-center align-center shadow-lg px-6 py-4 rounded-lg card">
					<img src="Coca-Cola.svg" alt="Coca-Cola" />
				</div>
				<div class="max-w-[200px] max-h-[200px] flex justify-center align-center shadow-lg px-6 py-4 rounded-lg card">
					<img src="fanta.webp" alt="Fanta" />
				</div>
				<div class="max-w-[200px] max-h-[200px] flex justify-center align-center shadow-lg px-6 py-4 rounded-lg card">
					<img src="sprite.webp" alt="Sprite" />
				</div>
			</section>
		</section>
		<section id="productos" class="flex flex-col text-center min-h-screen content-center justify-center align-center justify-center position-relative">
			<div class="mx-auto">
				<button class=" relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
					<span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
						Sígueme para ver mas!
					</span>
				</button>	
			</div>
			<Bubbles />
		</section>
	</main>
</Layout>

<style>
	main {

	}

	#hero {
		height: 100vh;
		display: flex;
		position: relative;
		margin-top: -50px;
	}

	.lata-container {
		position: absolute;
		right: 0;
		background-color: black;
	}

	#hero h1 {
		position: absolute;
		bottom: 20%;
		left: 5%;
	}

	.scrolled {
		opacity: 0;
		transform: translateY(30px);
		animation: scroll-in 2s forwards;
	}

	@keyframes scroll-in {
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

</style>
<script>
	const cards = document.querySelectorAll('.card');


	cards.forEach(card => {
		card.addEventListener('mouseover', () => {
			card.classList.add('shadow-2xl');
		});
		card.addEventListener('mouseout', () => {
			card.classList.remove('shadow-2xl');
		});
	});
	
	let observer = new IntersectionObserver((entries, observer) => {
		entries.forEach((entry, index) => {
			if (entry.isIntersecting) {
				setTimeout(() => {
					entry.target.classList.add('scrolled');
				}, index * 500);
				observer.unobserve(entry.target);
			}
		});
	});

	cards.forEach((card, index) => {
		observer.observe(card);
	});

</script>
